@import "abstracts/mixins";
@import "abstracts/variables";

@import "components/button";
@import "components/heading";
@import "components/cards";
@import "components/proccess";

@import "layout/header";
@import "layout/skill";
@import "layout/info";
@import "layout/testimonial";

@import "base/animations";
