.btn {
  &:link,
  &:visited {
    padding: 0.9rem 1.5rem;
    border-radius: 10rem;
    background-color: $color-white;
    color: $color-primary;
  }

  &--purple {
    padding: 0.9rem 2.5rem;
    border-radius: 10rem;
    background-color: $color-primary;
    color: $color-white;
  }
}
