.skill__card {
  height: 10rem;
  background-color: $color-white;
  border-radius: 1rem;
  color: $color-slate;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
}

.iconify {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
