.heading {
  text-align: center;
  color: $color-gray;
  max-width: 600px;
  margin: 0 auto;

  &--white {
    color: $color-white;
  }

  p {
    font-size: 0.9rem;
  }
}

.titles {
  color: $color-slate;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;

  &--white {
    color: $color-white;
  }
}
