.line {
  height: 2px;
  width: 5rem;
  display: inline-block;
  background-color: $color-primary;

  &--small {
    width: 3rem;
    margin-bottom: 2.5rem;
  }

  &--white {
    background-color: $color-white;
  }
}
