.proccess {
  display: inline-block;
  background-color: rgb(204, 204, 204);
  height: 10px;
  width: 100%;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
}

.progress {
  display: inline-block;
  height: 10px;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2rem;

  &--blue {
    background-color: $color-blue-light;
  }
  &--orange {
    background-color: $color-orange;
  }
  &--purple {
    background-color: $color-purple-light;
  }
}
