.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: $color-white;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color-white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.hover-underline-scale-up-animation {
  display: inline-block;
  position: relative;
  color: $color-white;
  transition: 0.3s;

  &:hover {
    transform: scale(1.15) translateY(-10px);
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: $color-white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.hover-up-animation {
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-10px);
  }
}

.hover-scale-up-animation {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.15) translateY(-10px);
  }
}
