$color-white: rgb(250, 250, 250);

$color-primary: #7f56fd;

$color-blue-light: #7fb7fa;
$color-orange: #ffac1b;
$color-purple-light: #c99aff;

$color-gray-light: rgb(231, 231, 231);
$color-gray: gray;
$color-slate: #334155;
$color-black: #030303;
